/.project
/.settings
/SchoolReserve-web/.classpath
/SchoolReserve-web/.gitignore
/SchoolReserve-web/.project
/SchoolReserve-web/.settings
/SchoolReserve-web/target
/SchoolReserve-service/.project
/SchoolReserve-service/.settings
/SchoolReserve-service/target
/SchoolReserve-service/.classpath
/SchoolReserve-dao/.project
/SchoolReserve-dao/.classpath
/SchoolReserve-dao/.settings
/SchoolReserve-client/.settings
/SchoolReserve-client/target
/SchoolReserve-client/.classpath
/SchoolReserve-client/.project
/SchoolReserve-base/.project
/SchoolReserve-base/.settings
/SchoolReserve-base/target
/SchoolReserve-base/.classpath
/SchoolReserve-base/.gitignore
/SchoolReserve-client/.gitignore
/SchoolReserve-dao/.gitignore
/SchoolReserve-service/.gitignore
